.addappointment-main {
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128, 0.3);
  border-radius: 5px;
  background-color: whitesmoke;
}
.add-appointent-button {
  display: flex;
  background-color: rgb(72, 72, 246);
  border: none;
  align-items: center;
  padding: 10px;
}
.add-appointent-button:hover {
  cursor: pointer;
}
.section-title {
  display: flex;
  text-align: left;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 100;
  color: white;
  background-color: rgb(72, 72, 246);
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.section-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section-body-divs {
  display: flex;
  align-items: center;
  margin: 15px;
}

.section-body-divs label {
  width: 200px;
  margin-right: 50px;
}

.section-body-divs input {
  width: 300px;
  height: 35px;
  border: 1px solid rgb(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 5px;
  outline: none;
  transition: all 0.3s ease;
  background-color: rgba(224, 224, 224);
}

.section-body-divs input:focus {
  border: 2px solid royalblue;
  background-color: white;
}

.section-body-divs-textarea textarea {
  width: 600px;
  height: 65px;
  border: 1px solid rgba(159, 158, 158, 0.5);
  border-radius: 3px;
  padding: 10px;
  outline: none;
  background-color: rgb(224, 224, 224);
}
.section-body-divs-textarea textarea:focus {
  border: 2px solid royalblue;
  background-color: white;
}

.section-body-divs-textarea {
  display: flex;
  align-items: flex-start;
  margin: 15px;
}

.section-body-divs-textarea label {
  width: 200px;
  margin-right: 50px;
}

.radius-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
}
.radius-all {
  border-radius: 5px;
  border: none;
}
.add-appointment-submit-button {
  background-color: rgb(38, 38, 247);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: end;
  margin-right: 20px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.add-appointment-submit-button:hover {
  width: 100px;
  cursor: pointer;
  background-color: green;
}
